p {
  font-size: 1em;
  line-height: 2;
}

.start-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  text-align: center;
  cursor: pointer;
  z-index: 999999;
}

.logo-mask {
  width: 10vw;
  margin: auto;
}
.logo-mask img {
  width: 100%;
  height: 100%;
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 0;
}

.caption {
  text-align: center;
  margin: 1.5em;
}

.bg-section, .mainvideo {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -1;
}

.bg-section img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bg-section video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainvideo video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 1;
}

.slides {
  display: none;
}

.btn-text {
  width: 100%;
  margin: 0;
  margin-top: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #a68b5c;
}

.navy-overlay {
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(17, 48, 83, 0.9);
  opacity: 0;
  z-index: -1;
}
.navy-overlay:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.navigation {
  position: absolute;
  bottom: 5%;
  display: none;
  opacity: 0;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  margin: auto;
  z-index: 1;
}
.navigation .logo-home {
  cursor: pointer;
  width: 5vw;
  mix-blend-mode: color-dodge;
  height: 100%;
  opacity: 0;
}
.navigation .logo-home img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.navigation p {
  letter-spacing: 0.3em;
}

.left-nav {
  display: flex;
  text-align: center;
}
.left-nav p {
  text-transform: uppercase;
  margin-top: 1vh;
  line-height: unset;
}

.cta-button {
  margin-left: 3rem;
  color: #fff;
  text-decoration: none;
  opacity: 0;
}
.cta-button img {
  width: 5vw;
}

.next-prev-wrapper {
  display: flex;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  opacity: 1;
}
.next-prev-wrapper:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, transparent 10%, #fff 50%, transparent 90%);
  z-index: 1;
}
.next-prev-wrapper:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, transparent 10%, #fff 50%, transparent 90%);
}

.next-prev-wrapper2 {
  display: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  opacity: 0;
}
.next-prev-wrapper2:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, transparent 10%, #fff 50%, transparent 90%);
  z-index: 1;
}
.next-prev-wrapper2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, transparent 10%, #fff 50%, transparent 90%);
}

.next-nav {
  color: #fff;
  padding: 1vh 3vw;
  background: #b28658;
  border-bottom-right-radius: 15px;
  border-right: 2px solid #fff;
  position: relative;
  text-decoration: none;
}
.next-nav:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background: radial-gradient(ellipse at center left, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 50%);
}

.next-nav:active, .prev-nav:active {
  opacity: 0.8;
}

.prev-nav {
  color: #fff;
  padding: 1vh 3vw;
  background: #b28658;
  border-top-left-radius: 15px;
  border-left: 2px solid #fff;
  position: relative;
  text-decoration: none;
}
.prev-nav:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 3px;
  background: radial-gradient(ellipse at center right, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 50%);
}

.next-nav2 {
  color: #fff;
  padding: 10px 40px;
  background: #b28658;
  border-bottom-right-radius: 15px;
  border-right: 2px solid #fff;
  position: relative;
  text-decoration: none;
}
.next-nav2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background: radial-gradient(ellipse at center left, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 50%);
}

.next-nav2:active, .prev-nav2:active {
  opacity: 0.8;
}

.prev-nav2 {
  color: #fff;
  padding: 10px 40px;
  background: #b28658;
  border-top-left-radius: 15px;
  border-left: 2px solid #fff;
  position: relative;
  text-decoration: none;
}
.prev-nav2:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 3px;
  background: radial-gradient(ellipse at center right, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 50%);
}

.nav-slide {
  text-transform: uppercase;
  letter-spacing: 3px;
  position: absolute;
  bottom: 5vh;
  right: 0;
  z-index: 500;
}
.nav-slide:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, transparent 10%, #fff 50%, transparent 90%);
  z-index: 1;
}
.nav-slide:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, transparent 10%, #fff 50%, transparent 90%);
}

.next-slide {
  color: #fff;
  padding: 1vh 3vw;
  background: #b28658;
  border-bottom-right-radius: 15px;
  border-right: 2px solid #fff;
  position: relative;
  text-decoration: none;
}
.next-slide:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background: radial-gradient(ellipse at center left, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 50%);
}

.next-slide:active, .prev-slide:active {
  opacity: 0.8;
}

.prev-slide {
  color: #fff;
  padding: 1vh 3vw;
  background: #b28658;
  border-top-left-radius: 15px;
  border-left: 2px solid #fff;
  position: relative;
  text-decoration: none;
}
.prev-slide:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 3px;
  background: radial-gradient(ellipse at center right, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 50%);
}

.nav-disabled {
  cursor: auto;
  pointer-events: none;
  opacity: 0.2;
}

.brand-dashboard {
  position: relative;
  margin: auto;
}

.image-content {
  width: 250px;
  height: auto;
  margin-bottom: 10px;
}
.image-content img {
  width: 100%;
}

.brand-wrapper {
  color: #000;
  display: none;
  opacity: 0;
  width: 500px;
  text-align: left;
}

.brand-wrapper.float-right {
  float: right;
}

.brand-img {
  width: 100%;
  max-width: 25vw;
  min-height: 10vh;
  margin: auto;
}
.brand-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

.line-divider {
  display: none;
  opacity: 0;
  width: 5px;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background: radial-gradient(ellipse at center, #b28658 0%, rgba(0, 0, 0, 0) 50%);
}

button.opt-btn {
  padding: 0.7em 1em 0.7em 2em;
  background: none;
  border: 1px solid #b28658;
  color: #b28658;
  border-radius: 30px;
  font-size: 1em;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em auto;
  cursor: pointer;
}

.opt-btn span {
  margin-left: 20px;
  width: 15px;
  display: flex;
}

.openmap {
  padding: 0.7em 1em 0.7em 2em;
  border: 1px solid #fff;
  color: #b28658;
  background: #fff;
  border-radius: 30px;
  font-size: 1em;
  margin-top: 2em;
  display: inline-flex;
  margin: 2em auto;
  z-index: 99999;
  position: relative;
  cursor: pointer;
}
.openmap.greenery {
  color: rgb(7, 36, 26);
}
.openmap span {
  margin-left: 20px;
  width: 15px;
  display: flex;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.lightbox-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 60vw;
  max-height: 80vh;
}

.lightbox img {
  width: 100%;
  height: auto;
}

.lightbox span {
  position: absolute;
  top: 0;
  right: -5%;
  color: #f1f1f1;
  font-size: 40px;
  cursor: pointer;
}

.lightbox span:hover,
.lightbox span:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.image-wrapper {
  position: relative;
}

.left-content-wrapper {
  position: relative;
  width: 50vw;
  height: 100vh;
  left: -12%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.right-content-wrapper {
  position: relative;
  width: 50vw;
  height: 100vh;
  right: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.brand-content-left {
  line-height: 1.7;
  margin-top: 10%;
}

.brand-content-right {
  line-height: 1.7;
  margin-top: 10%;
}

.left-greyscale {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  opacity: 0.85;
  background: #fff;
  mix-blend-mode: screen;
  z-index: -1;
}

.right-greyscale {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  transform: translateX(100%);
  background: #fff;
  mix-blend-mode: screen;
  opacity: 0.85;
  z-index: -1;
}

.img-left {
  position: absolute;
  left: 0;
  width: 550px;
  height: 500px;
  border-top-right-radius: 40px;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}
.img-left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-right {
  position: absolute;
  right: 0;
  width: 550px;
  height: 500px;
  border-top-left-radius: 40px;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}
.img-right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.left-col {
  float: left;
  width: 60%;
}

.right-col {
  float: left;
  width: 40%;
}

.col-50 {
  float: left;
  width: 50%;
}

.col-70 {
  float: left;
  width: 70%;
}

.col-60 {
  float: left;
  width: 60%;
}

.col-40 {
  float: left;
  width: 40%;
}

.col-30 {
  float: left;
  width: 30%;
}

.pr-10 {
  padding-right: 5%;
}

.pl-10 {
  padding-left: 5%;
}

#about {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
}

.bg-about {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -1;
}
.bg-about:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-90deg, rgba(22, 60, 102, 0.95) 50%, transparent 100%);
}
.bg-about:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(22, 60, 102, 0.95) 10%, transparent 50%);
}
.bg-about img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-cluster {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.bg-cluster:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bg-cluster img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bg-cluster.dark-gold::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-90deg, rgb(47, 43, 32) 50%, transparent 100%);
}
.bg-cluster.turquoise::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-90deg, rgb(0, 61, 81) 50%, transparent 100%);
}
.bg-cluster.dark-coklat::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-90deg, rgb(25, 22, 23) 50%, transparent 100%);
}
.bg-cluster.purple::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-90deg, rgb(32, 28, 77) 50%, transparent 100%);
}
.bg-cluster.dark-green::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-90deg, rgb(7, 36, 26) 50%, transparent 100%);
}

.center-aligned {
  position: relative;
  margin-top: 15%;
}
.center-aligned.centered {
  margin-top: 0;
  top: 50%;
  transform: translateY(-50%);
}

.heading h1 {
  font-size: 3.2em;
  margin-bottom: 2vh;
}

.logos-milestone {
  margin: auto;
}
.logos-milestone:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: end;
}
.logos-milestone:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: start;
}
.logos-milestone img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.longline {
  height: 2px;
  margin-left: -10%;
  width: 150%;
  background: rgba(255, 255, 255, 0.3);
  position: relative;
}
.longline .line-animation {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 0%;
  height: 100%;
  transition: all 0.3s ease;
}

.bg-milestone {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.bg-milestone:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: linear-gradient(0deg, #163C66 50%, transparent 100%);
}
.bg-milestone img {
  width: 100%;
  height: 100%;
  -o-object-position: center -10em;
     object-position: center -10em;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo-items-wrapper {
  margin: 0 13vw;
  position: relative;
  opacity: 0.3;
  cursor: pointer;
}

.logo-items {
  width: 6vw;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em auto;
}

.v-line {
  width: 1px;
  height: 40px;
  background: #fff;
  margin: auto;
}

.milestone-picker {
  position: relative;
  transform: scale(0.6);
  width: 71.1vw;
  height: 55vh;
  margin: auto;
}

.year {
  position: absolute;
  top: -80%;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
}
.year h1 {
  font-weight: 300;
}

.year2 {
  position: absolute;
  bottom: -80px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
}
.year2 h1 {
  font-weight: 300;
}

.dot {
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.dot2 {
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.mt-50 {
  margin-top: 15vh;
}

.picker-items {
  position: absolute;
  opacity: 0.3;
  cursor: pointer;
}
.picker-items img {
  width: 100%;
  filter: grayscale(1);
  height: auto;
}
.picker-items:nth-child(1) {
  width: 19vw;
  bottom: 0;
}
.picker-items:nth-child(2) {
  left: 18.1vw;
  bottom: 0.2vh;
  width: 15.8vw;
}
.picker-items:nth-child(3) {
  z-index: 1;
  left: 25.5vw;
  bottom: -0.4vh;
  width: 27vw;
}
.picker-items:nth-child(4) {
  left: 34vw;
  bottom: 3.6vw;
  width: 18.4vw;
}
.picker-items:nth-child(5) {
  width: 17.8vw;
  right: 1vw;
  bottom: 0;
}
.picker-items.highlight img {
  filter: drop-shadow(0px 0px 20px #fff) grayscale(1);
  transition: all 0.3s ease;
}
.picker-items .link-to-project {
  position: absolute;
  width: 5vw;
  height: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  background: #b28658;
  left: 50%;
  top: -20%;
  transform: translateX(-50%) scale(1.5);
  border: none;
  display: none;
  opacity: 0;
  padding: 1vw;
  text-align: center;
}
.picker-items .link-to-project img {
  margin-top: 1vh;
  width: 20px;
  height: auto;
  transform: rotate(-45deg);
}
.picker-items .link-to-project .ring {
  position: absolute;
  background: #b28658;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0.3;
  z-index: -1;
}

.highlight {
  opacity: 1;
  transition: all 0.3s ease;
}

.hidden {
  display: none;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
  grid-auto-rows: 8vh;
  margin-bottom: 20px;
  position: relative;
  grid-auto-flow: dense;
  grid-gap: 1vw;
  gap: 1vw;
}

.image-item {
  display: grid;
  max-height: 500px;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
}
.image-item:nth-child(1) {
  grid-column: span 3;
  grid-row: span 2;
}
.image-item:nth-child(2) {
  grid-column: span 2;
  grid-row: span 2;
}
.image-item:nth-child(3) {
  grid-row: span 2;
}
.image-item:nth-child(4) {
  grid-column: span 1;
}
.image-item:nth-child(5) {
  grid-column: span 2;
  grid-row: span 2;
}
.image-item:nth-child(6) {
  grid-row: span 2;
}
.image-item:nth-child(7) {
  grid-column: span 1;
}
.image-item:nth-child(8) {
  grid-column: span 2;
}
.image-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-item-left {
  display: grid;
  max-height: 500px;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
}
.image-item-left:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}
.image-item-left:nth-child(2) {
  grid-row: span 2;
  grid-column: span 2;
}
.image-item-left:nth-child(3) {
  grid-column: span 1;
  grid-row: span 1;
}
.image-item-left:nth-child(4) {
  grid-column: span 1;
  grid-row: span 2;
}
.image-item-left:nth-child(5) {
  grid-column: span 2;
}
.image-item-left:nth-child(6) {
  grid-column: span 1;
}
.image-item-left:nth-child(7) {
  grid-column: span 1;
}
.image-item-left:nth-child(8) {
  grid-column: span 2;
  grid-row: span 2;
}
.image-item-left:nth-child(9) {
  grid-row: span 2;
}
.image-item-left:nth-child(10) {
  grid-column: span 1;
  grid-row: span 2;
}
.image-item-left:nth-child(11) {
  grid-column: span 1;
  grid-row: span 2;
}
.image-item-left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.breadcrump {
  display: flex;
  margin-bottom: 50px;
}

.breadcrump-items {
  padding: 15px 50px 15px 25px;
  background: #8C9EB4;
  color: #fff;
  border-top-left-radius: 50px;
  width: 100%;
  border-bottom-left-radius: 50px;
  margin-right: -50px;
  box-shadow: -25px 0px 25px -20px #000;
  cursor: pointer;
}
.breadcrump-items.is-Active {
  background: #fff;
  color: #163C66;
}
.breadcrump-items:nth-child(4) {
  margin-right: 0;
}
.breadcrump-items span {
  font-size: 1em;
  letter-spacing: 4px;
}
.breadcrump-items.gold {
  background: #b28658;
}
.breadcrump-items.gold.is-Active {
  background: #fff;
}
.breadcrump-items.gold2 {
  background: #C09B5E;
}
.breadcrump-items.gold2.is-Active {
  background: #fff;
}
.breadcrump-items.red {
  background: #473D3B;
}
.breadcrump-items.red.is-Active {
  background: #fff;
}
.breadcrump-items.pitch {
  background: #D09D6A;
}
.breadcrump-items.pitch.is-Active {
  background: #fff;
}
.breadcrump-items.greenery {
  background: #DEDFD4;
  color: rgb(7, 36, 26);
}
.breadcrump-items.greenery.is-Active {
  background: #fff;
}

.d-block {
  display: block !important;
}

.content {
  display: none;
}
.content h1 {
  text-align: right;
}

.list-items {
  display: grid;
  justify-content: end;
  text-align: end;
  color: #fff;
}
.list-items a {
  color: #fff;
  text-decoration: none;
  line-height: 3;
  font-size: 24px;
}

.subitems {
  overflow: hidden;
  display: grid;
  height: 70px;
  transition: all 0.25s linear;
}

.collapsed {
  height: 100% !important;
}

.cluster-items-wrapper {
  height: 70px;
  overflow: hidden;
  transition: all 0.25s linear;
}

#cluster-content {
  max-height: 450px;
  overflow: auto;
  direction: rtl;
}

ol, ul {
  margin: 1rem 2rem;
}

.collapsible-section {
  display: block;
  margin: 1rem 0;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.collapsible-section .collapsible-body {
  color: #fff;
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: max-height 500ms;
}
.collapsible-section .collapsible-body > .content-collapse {
  text-align: end;
  padding: 1rem 2rem;
}
.collapsible-section .collapsible-header {
  color: #fff9fb;
  cursor: pointer;
  display: block;
  padding: 1rem 2rem;
  text-align: end;
  border-bottom: 1px solid #fff;
}
.collapsible-section .collapsible-header:hover {
  color: #fff9fb;
}
.collapsible-section .collapsible-header .title {
  padding: 0 2rem 0 0;
  position: relative;
  letter-spacing: 3px;
  font-size: 1.1em;
}
.collapsible-section .collapsible-header .title::after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  transform-origin: right;
  transition: transform 500ms;
  text-align: center;
  bottom: 0;
  width: 2rem;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  width: 0.5vw;
  height: 0.5vw;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.collapsible-section.expanded .collapsible-body {
  max-height: 600px;
}
.collapsible-section.expanded .collapsible-header .title::after {
  transform: rotate(45deg);
}

.cluster-items {
  display: block;
  margin: 1rem 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 1rem 2rem;
  text-align: end;
  border-bottom: 1px solid #fff;
}
.cluster-items h2 {
  padding: 0 2rem 0 0;
  position: relative;
  letter-spacing: 3px;
  font-size: 1.1em;
}

.d-flex-space-between {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.content-collapse li {
  list-style-type: none;
  line-height: 3;
  direction: ltr;
  margin: 1em auto;
}
.content-collapse li.d-flex-space-between {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.content-collapse li.d-flex-space-between button {
  border: none;
  background: #fff;
  padding: 1em 3em;
  border-radius: 2em;
  font-size: 0.9em;
  text-transform: uppercase;
  cursor: pointer;
}
.content-collapse li.d-flex-space-between button:active {
  opacity: 0.5;
}
.content-collapse li img {
  width: 4em;
  position: relative;
  left: -1em;
  top: -1em;
  transform: rotate(-15deg);
}

.swiper-container {
  width: 100%;
  height: 50vh;
  padding-bottom: 5em;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden;
}

.swiper-slide img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-scrollbar {
  margin-top: 3rem;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  display: none !important;
}

#access-content {
  text-align: right;
}
#access-content li {
  list-style-type: none;
  font-size: 1em;
  line-height: 3.5;
}
#access-content p {
  line-height: 3;
}

#access-content-asya {
  text-align: right;
}
#access-content-asya li {
  list-style-type: none;
  font-size: 1.1em;
  line-height: 4;
}

.iframe-wrapper {
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  position: fixed;
}
.iframe-wrapper iframe {
  width: 100%;
  height: 100%;
}

.logo-comming {
  width: 170px;
  opacity: 0.3;
}

.swiper-pagination-bullets {
  margin-top: 1em;
}
.swiper-pagination-bullets span {
  background: #fff;
}

.loader {
  position: fixed;
  display: block;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #01001e;
  z-index: 1000000000000000000000000000000000000;
}

.translate-switch {
  position: absolute;
  right: 0;
  top: 0;
}

.lang-btn {
  border-radius: 50%;
  background: #b28658;
  margin-left: 1em;
  color: #fff;
  border: none;
  width: 3vw;
  height: 3vw;
  font-size: 1em;
  cursor: pointer;
}
.lang-btn:active {
  opacity: 0.5;
}

.close {
  position: absolute;
  font-size: 50px;
  background: #fff;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  color: #9a7664;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 15%;
  z-index: 999999;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.items-cluster {
  margin-bottom: 1.5em;
}

.items-wrapper {
  text-align: center;
  margin-bottom: 1.5em;
  border: 1px solid #fff;
  margin: 25px 10px;
  padding: 15px;
  border-radius: 25px;
}
.items-wrapper h2 {
  font-size: 1em;
}

#kalimutu-type-7, #kalimutu-type-9,
#maninjau, #sentarum-type-6, #sentarum-type-8,
#toba-lake, #arumaya-1, #arumaya-2, #arumaya-3,
#arumaya-4, #lavatera-type-6, #lavatera-type-7,
#lavatera-type-8 {
  z-index: 1;
}

.line-anim {
  height: 2px;
  background: linear-gradient(45deg, transparent, #fff, transparent);
  width: 300%;
  left: -100%;
  position: absolute;
}

.line-anim2 {
  height: 2px;
  background: linear-gradient(45deg, transparent, #fff, transparent);
  width: 300%;
  left: -100%;
  top: -1%;
  position: absolute;
}

@font-face {
  font-family: "Open Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans Regular"), url("./fonts/OpenSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans"), url("./fonts/OpenSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "Open Sans Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans Italic"), url("./fonts/OpenSans-Italic.woff") format("woff");
}
@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans Light"), url("./fonts/OpenSans-Light.woff") format("woff");
}
@font-face {
  font-family: "Open Sans Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans Light Italic"), url("./fonts/OpenSans-LightItalic.woff") format("woff");
}
@font-face {
  font-family: "Open Sans SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans SemiBold"), url("./fonts/OpenSans-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Open Sans SemiBold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans SemiBold Italic"), url("./fonts/OpenSans-SemiBoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans Bold"), url("./fonts/OpenSans-Bold.woff") format("woff");
}
@font-face {
  font-family: "Open Sans Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans Bold Italic"), url("./fonts/OpenSans-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Open Sans ExtraBold";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans ExtraBold"), url("./fonts/OpenSans-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Open Sans ExtraBold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans ExtraBold Italic"), url("./fonts/OpenSans-ExtraBoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Open Sans Light Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans Light Regular"), url("./fonts/OpenSans-Light-webfont.woff") format("woff");
}
@font-face {
  font-family: "Open Sans Condensed Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans Condensed Bold"), url("./fonts/OpenSans-CondBold.woff") format("woff");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  display: flex;
  place-items: center;
  background: #000;
  color: #fff;
  justify-content: center;
  overflow: hidden;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  background: url("/src/assets/Asya-View-Danau-Sore.jpg") center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.logo {
  width: 10vw;
  position: absolute;
  top: 5vh;
  right: 0;
}
.logo img {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 90%;
}

.pagination {
  top: 100px;
  right: 500px;
  display: block;
  z-index: 999999999;
}

.nav {
  margin-top: 100px;
  justify-content: end;
  display: flex;
  margin-bottom: 20px;
}
.nav .icon {
  display: inline-block;
  color: inherit;
  opacity: 1;
  width: 1.5rem;
  height: 1.5rem;
  border-style: solid;
  border-color: currentColor;
  border-width: 0.2rem 0.2rem 0 0;
}
.nav .icon__previous {
  transform: rotate(-135deg);
}
.nav .icon__previous.swiper-button-disabled {
  opacity: 0.3;
}
.nav .icon__next {
  transform: rotate(45deg);
}
.nav .icon__next.swiper-button-disabled {
  opacity: 0.3;
}

.nav-link {
  top: 8vh;
  right: 10vw;
  position: absolute;
  display: flex;
}
.nav-link p {
  margin: 0;
  position: relative;
  z-index: 1;
}
.nav-link:before {
  content: "";
  position: absolute;
  width: 98%;
  height: 80%;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  top: 50%;
  left: 50%;
  background: linear-gradient(180deg, #efefef, #fff);
  z-index: 1;
  transform: translate(-50%, -50%);
}

.nav-item {
  padding: 15px 70px;
  font-size: 1vw;
  color: #979797;
}
.nav-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 30px;
  background: linear-gradient(360deg, #c5c5c5 30%, #fff 60%);
}
.nav-item.button-1 {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.nav-item.button-3 {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.nav-btn-wrapper {
  top: 20vh;
  right: 10vw;
  position: absolute;
  display: flex;
}

.nav-btn {
  position: relative;
  padding: 15px 70px;
  margin: 0;
  font-size: 18px;
  letter-spacing: 5px;
  text-transform: uppercase;
  border: none;
  color: #979797;
  background: linear-gradient(180deg, #fff 50%, #d3d3d3);
}
.nav-btn.btn-left {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}
.nav-btn.btn-left:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 98%;
  border-top-left-radius: 30px;
  height: 85%;
  background: linear-gradient(0deg, #fff 50%, #bababa);
  border-bottom-left-radius: 30px;
}
.nav-btn.btn-right {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}
.nav-btn.btn-right:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 98%;
  height: 85%;
  background: linear-gradient(0deg, #fff 50%, #bababa);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.nav-btn.btn-middle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 85%;
  background: linear-gradient(0deg, #fff 50%, #bababa);
}

button.nav-btn:active {
  opacity: 0.8;
}
button.nav-btn span {
  position: relative;
}

.emboss-dark {
  position: absolute;
  width: 2px;
  height: 70%;
  background: #c2c2c2;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.emboss-light {
  position: absolute;
  width: 2px;
  height: 70%;
  background: #ffffff;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.slide {
  display: none;
  width: 100vw;
  height: 100vh;
}
.slide .bg-section {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.slide .bg-section img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.slide .slide-items-container {
  width: 1980px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}
.slide .slide-items-container .content-box {
  position: relative;
  width: 30%;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  padding: 30px;
  border-radius: 30px;
  display: block;
}
.slide .slide-items-container .content-box:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: -1;
}
.slide .slide-items-container .content-box a {
  line-height: 2.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}
.slide .slide-items-container .content-box a:before {
  position: absolute;
  content: "";
  width: 90%;
  height: 100%;
  border-top: groove;
}

.active {
  display: block;
}

.nav-pagination {
  display: flex;
  position: absolute;
  right: 10vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999999;
}
.nav-pagination .next-nav {
  cursor: pointer;
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}
.nav-pagination .next-nav.swiper-button-disabled {
  opacity: 0.3;
  cursor: auto;
  pointer-events: none;
}
.nav-pagination .next-nav svg {
  width: 50px;
}
.nav-pagination .next-nav path {
  color: #979797;
}
.nav-pagination .prev-nav {
  cursor: pointer;
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-pagination .prev-nav.swiper-button-disabled {
  opacity: 0.3;
  cursor: auto;
  pointer-events: none;
}
.nav-pagination .prev-nav svg {
  width: 50px;
  transform: scale(-1);
}
.nav-pagination .prev-nav path {
  color: #979797;
}

.swiper {
  top: 80px;
  left: 80px;
}

.slide-items-wrapper {
  position: relative;
}

.button-wrapper {
  position: fixed;
  display: flex;
  right: 10vw;
}

.btn-nav {
  width: 48px;
  height: 48px;
  background: linear-gradient(181deg, #fff 50%, #d3d3d3);
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  position: relative;
  z-index: -1;
}
.btn-nav:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: linear-gradient(1deg, #fff 50%, #bababa);
  z-index: -1;
}
.btn-nav svg {
  width: 30px;
  height: auto;
}
.btn-nav:active {
  opacity: 0.5;
}
.btn-nav.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.matterport-wrapper {
  width: 80vw;
  height: 100vh;
  overflow: hidden;
}
.matterport-wrapper iframe {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 20px;
}

::-webkit-scrollbar {
  width: 7px;
  background: #9e9e9e;
  border-radius: 20px;
}/*# sourceMappingURL=style.css.map */